.libs/
_libs/
*.o
*.lo
*.so
*.dll
*.exe
lib*.a
jimsh
libjim.a
Tcl.html
_*.c
vti.tmp*
version.texi.tmp*
doc/openocd.t2d
doc/openocd.t2d
so_locations
*.la
.DS_Store
jim-4d972fc6.o.tmp
minidriver_imp.h
startup_tcl.inc
